body {
  background-color: black;
  color: white;
}

.create {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
}

.createUser {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
}

input:hover{
  border: 3px solid;
  border-color:#56ff00;
}

::placeholder {
  color: white;
  opacity: .5;
  text-align: center;
}

.sign-up {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  border: 1px solid white;
}

.sign-up:hover {
  border: 1px solid white;
}

.log-in {
  border: 1px solid white;
}

.log-in:hover {
  border: 1px solid white;
}

.create-place {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid white;
}

.create-place:hover {
  border: 1px solid white;
}

h1 {
  font-family: "Scary Halloween Font", sans-serif;
  font-size: 4em;
  text-align: center;
  margin: 1em auto;
  border: 1px solid white;
  height: 1em auto;
  padding: 1em;
}
