body {
  background-color: black;
  color: white;
}

.create {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
}

.createUser {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
}

input:hover{
  border: 3px solid;
  border-color:#56ff00;
}

::placeholder {
  color: white;
  opacity: .5;
  text-align: center;
}

.sign-up {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  border: 1px solid white;
}

.sign-up:hover {
  border: 1px solid white;
}

.log-in {
  border: 1px solid white;
}

.log-in:hover {
  border: 1px solid white;
}

.create-place {
  background-color: purple;
  color: orange;
  border: 3px solid black;
  outline: none;
  margin: 4px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid white;
}

.create-place:hover {
  border: 1px solid white;
}

h1 {
  font-family: "Scary Halloween Font", sans-serif;
  font-size: 4em;
  text-align: center;
  margin: 1em auto;
  border: 1px solid white;
  height: 1em auto;
  padding: 1em;
}

/* RYLEN'S SHOW DETAILS MODAL */
.showDetailsModal {
  background-color: rgba(155, 79, 215, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.showDetailsContainer {
  background-color: black;
  border: 3px solid rgb(155, 79, 215);
  height: 50vw;
  width: 70vw;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 25px;
  overflow: scroll;
  test-align: center;
  max-width: 646px;
  max-height: 600px;
  padding: 30px;
  font-family: 'Almendra Display', cursive;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(152, 70, 203);

}
h2 {
  font-family: 'Creepster', cursive;
  letter-spacing: 3px;
  font-size: 45px;
  text-align: center;
  color: rgb(21, 221, 101);
}
.showDetailsContents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.detailsImage > img {
  height: 20vw;
  width: 30vw;
  border: 7px inset rgb(152, 70, 203);
  margin-left: 10px;
}
h3 {
  margin: 0 auto;
  padding: 15px;
  font-family: 'Almendra SC', serif;
}
.location {
  text-align: center;
}
a {
  background-color: rgb(152, 70, 203);
  border: 1px solid rgb(21, 221, 101);
  color: rgb(21, 221, 101);
  letter-spacing: 3px;
  font-family: 'Creepster', cursive;
  /* line-height: 32px; */
  padding: 10px;

}
