<div class = "mission">
  Our Mission
  </div>
  <div class= "statement">
    To find the supernatural existence
    </div>
  <div class= "about">
    <p> We like to travel around the United States to catch ghosts in action at haunted places. Our list of places shows where we have been and what we have seen. If you would like to get in contact with us please feel free to reach out to us through our email. </p>
    </div>
    <div class = "contact">
      Contact:
      <div class = "name">
        Name: Sumit
        GitHub: <a href="https://github.com/sumitsoni09">sumitsoni09</a>
        Location: Fort Worth, Texas
      </div>
      <div class = "name">
        Name: Rylen
        GitHub: <a href="https://github.com/rybread9">rybread9</a>
        Location: Sacramento, California
      </div>
      <div class = "name">
        Name: Brooke
        GitHub: <a href="https://github.com/brookebillmaier">brookebillmaier</a>
        Location: Grand Rapids, Michigan
      </div>
    </div>
