<div class = "container">
  Our Mission

<div class= "statement">
    To find the supernatural existence
</div>
<div class= "about">
    <p> We like to travel around the United States to catch ghosts in action at haunted places. Our list of places shows where we have been and what we have seen. If you would like to get in contact with us please feel free to reach out to us through our GitHub. </p>
    </div>
    <div class = "contact">
      Contact:
      <div class = "name"><ul>
        <ul class = "person">
      <li>Name: Sumit</li><br>
      <li>GitHub: <a href="https://github.com/sumitsoni09">sumitsoni09</a></li><br>
      <li>Location: Fort Worth, Texas</li><br>
      </div></li>
      <div class = "name">
        <ul class= "person">
        <li>Name: Rylen </li><br>
        <li>GitHub: <a href="https://github.com/rybread9">rybread9</a></li><br>
        <li>Location: Sacramento, California</li><br>
      </div></ul>
      <div class = "name">
        <ul class= "person">
        <li>Name: Brooke</li><br>
      <li>  GitHub: <a href="https://github.com/brookebillmaier">brookebillmaier</a></li><br>
      <li>  Location: Grand Rapids, Michigan</li><br>
    </div></ul>
    </div>
    </div>
