<!-- <div ng-repeat="place in ctrl.places" ng-if="ctrl.showEditForm === true" class="editModal">

  <div class="editFormContainer">

    <h2>Edit Hidden Haunt</h2>

    <div>
      {{place.name}}

      <form

      ng-submit="ctrl.place.editPlace(place)">

        <input class="editForm" type="text" ng-model="ctrl.updatedName" placeholder="Name"/>
        <input class="editForm" type="text" ng-model="ctrl.updatedLocation" placeholder="Location"/>
        <input class="editForm" type="text" ng-model="ctrl.updatedImage" placeholder="Image URL"/>
        <!-- <input class="editForm" type="text" ng-model="ctrl.image" placeholder="Image URL"/> -->
        <!-- <textarea class="editForm" type="text" ng-model="ctrl.updatedDescription"  placeholder="Description"></textarea>
        <input class="editFormButton" type="submit"  value="Update Haunt"/>
      </form>
    </div>

      <a
        ng-click="ctrl.indexOfEditFormToShow = $index; ctrl.toggleShowEditForm()"
        href="#">x Close</a>

  </div>

</div> --> -->
