
  <div ng-include="'partials/createUser.html'">

    <div ng-include="ctrl.includePath"></div>

  </div>


</div>
  <!-- MAIN CONTENTS OF PAGE -->
  <div ng-include="'partials/hauntListing.html'">
    <div class="ctrl.includePath">

    </div>
  </div>


  <!-- EDIT FORM MODAL-->
  <div ng-include="'partials/editHaunt.html'">
    <div class="ctrl.includePath">

    </div>
  </div>



  <!-- CREATE NEW HIDDEN HAUNT FORM -->
  <div ng-include="'partials/addNewHaunt.html'">
    <div class="ctrl.includePath">

    </div>
  </div>


    <!-- SHOW PAGE MODAL -->
    <div ng-include="'partials/showDetails.html'">
      <div class="ctrl.includePath">

      </div>
    </div>



    </div>
