<nav>
  <a class="tNav" ng-click="ctrl.changeInclude('mainIndex')">Home</a>
  <a class="tNav" ng-click="ctrl.changeInclude('about')">About</a>
  <a class="tNav" ng-click="ctrl.changeInclude('store')">Store</a>
  <a class = "tNav" href = "#" ng-click="auth.toggleShowLogIn()">LOG IN</a>
  <a class = "tNav" href = "#" ng-click="auth.toggleShowCreateUser()">REGISTER</a>
  <div id = "welcome" ng-if="auth.loggedInUsername">
      Welcome, {{auth.loggedInUsername}}
  </div>


  <form
  ng-if="auth.showCreateUser"
  ng-submit="auth.createUser()">
  <input class="createUser" type ="text" ng-model="auth.username" placeholder="Username"/>
  <input class="createUser" type="password" ng-model="auth.password" placeholder="Password"/>
  <input class="createUserButton" type="submit" value="Become a Ghostly Ghoul"/>
  </form>

  <form ng-if="auth.showLogIn"
  ng-submit="auth.logIn()">
  <input class="logInUser" type = "text" ng-model="auth.username" placeholder="Username"/>
  <input class="logInUser" type="password" ng-model="auth.password" placeholder="Password"/>
  <input class="logInUserButton" type ="submit" ng-click="auth.goApp()" value ="Log in (if you dare)"/>
  </form>

</nav>


<!-- <form ng-href="/"  ng-click="auth.logOut()" method="POST">
  <input class="navlink" type="submit" name="" value="LOG OUT" />
</form> -->
<!-- <div class="nav">
   <a href="/" class="brand-logo"><img class="brandImg" src ="/css/images/logo.png" height ="60px"/></a> -->

      <!-- <a class="tNav" href = "#" ng-click="auth.toggleShowLogIn()">LOG IN</a>
      <form ng-if="auth.showLogIn"
      ng-submit="auth.logIn()">
        <input class="logInUser" type = "text" ng-model="auth.username" placeholder="Username"/>
        <input class="logInUser" type="password" ng-model="auth.password" placeholder="Password"/>
        <input class="logInUserButton" type ="submit" ng-click="auth.goApp()" value ="Log in (if you dare)"/>
      </form> -->
      <!-- <h5 class="tNav" ng-click="ctrl.changeInclude('login')">LOG IN</h5> -->
      <!-- <a class="tNav" href = "#" ng-click="auth.toggleShowCreateUser()">REGISTER</a>
      <form
      ng-if="auth.showCreateUser"
      ng-submit="auth.createUser()">
        <input class="createUser" type ="text" ng-model="auth.username" placeholder="Username"/>
        <input class="createUser" type="password" ng-model="auth.password" placeholder="Password"/>
        <input class="createUserButton" type="submit" value="Become a Ghostly Ghoul"/>
      </form> -->
      <!-- <h5 class="tNav" ng-click="ctrl.changeInclude('createUser')">REGISTER</h5> -->
