<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="HauntedApp">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Bigelow+Rules|Butcherman|Creepster|Eater|Finger+Paint" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Creepster|Eater|Almendra+Display|Almendra+SC" rel="stylesheet">
    <title>Hidden Haunts</title>
  </head>
  <body ng-controller ="StoreController as ctrl">
    <div class="store">
    <ul>
      <li ng-repeat="store in ctrl.places">
    {{ctrl.name}}</li>
    beep beep store



  </div>

  </body>
</html>
